html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}


body {
    background-image: url("images/background.png");
    font-family: sans-serif ,Georgia, tahoma, Arial;
    font-size: 18px;
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: inline;
}

p, h1, h2, h3, h4, h5, h6, tr ,th , td {
    color: #F1F0D1;
}


                            /********** Wrapper **********/

#container {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    height: 1800px;
    background: #202020;
    border: 2px solid #878E63;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(12,3,25,0.8);

}
                            /********** Top-page greeting **********/

#greet {
    width: 100%;
    height: 2.5%;
    background: #878E63;
    overflow: hidden;
}

#greet p {
    text-align: right;
    font-size: 13px;
    padding: 1.1% 2% 0 0;
    color: #F1F0D1;

}

header {
    width: 96%;
    min-height: 125px;
    padding: 5px;
    text-align: center;
}

                            /********** Main Navigation **********/

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 50px;
    text-decoration: none;
}

nav ul li {
    float: left;
    border: 1px solid #878E63;
    width: 15%;
    text-shadow: 3px 3px 3px #000;
}

nav ul li a {
    background: #878E63;
    display: block;
    padding: 5% 12%;
    font-weight: bold;
    font-size: 18px;
    color: #F1F0D1;
    text-align: center;
}

nav ul li a:hover, nav ul li.active a {
    background-color: #181818;
    color: #F87531;
    text-decoration: none;
}

.banner img {
    width: 100%;
    height: 500px;
    border-top: 1px solid #878E63;
    border-bottom: 1px solid #878E63;
}


#mainNav iframe {
    min-height: 90px;
    max-height: 546px;
    width: 1250px;
    position: absolute;
    right: 600px;
    bottom: 600px;


}
                            /********** Left Col **********/

#leftCol {
    float: left;
    position: relative;
    left: 60px;
    box-shadow: 0 0 80px #F87531;
    margin-top: 40px;
    padding: 0;
    height: 498px;
    border-bottom: 1px solid #F87531;
    border-left: 1px solid #F87531;
    border-top: 1px solid #F87531;
}

                            /********** Aside **********/

aside {
    box-shadow: 0 0 80px #F87531;
    border-radius: 25px;
    text-shadow: 1px 1px 1px #878E63;
    float: right;
    position: absolute;
    left: 150px;
    margin-top: 40px;
    height: 496px;
    border-bottom: 2px solid #F87531;
    border-right: 2px solid #F87531;
    border-top: 2px solid #F87531;
}

                            /********** Upcoming events section **********/
    
#upcomingEvents {
    margin: 0 auto;
    margin-top: 90px;
    width: 93%;
    height: 15%;
    border-bottom: 2px solid #337AB7;
    border-right: 2px solid #337AB7;
    border-left: 2px solid #337AB7;
    box-shadow: 0 0 80px #337AB7;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
}

#upcomingEvents h2 {
    text-decoration: underline;
    color: #F87531;
    text-shadow: 3px 3px 3px #000;
    text-align: center;
    margin-bottom: 20px;
}

#upcomingEvents h4 {
    text-decoration: underline;
    color: #878E63;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}

#upcomingEvents p {
    font-size: 15px;
    margin-bottom: 30px;
}



                            /********** Footer **********/

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5%;
    background: #878E63;
    text-align: center;
    overflow: hidden;
    font-family: georgia;
}

#footerlist li {
    display: inline;
    margin: 23px;
}

#footerlist li img {
    display: inline;
    position: absolute;
    bottom: -50px;
}

#copyright {
    margin: 40px;
    position: relative;
    right: 160px;
    text-decoration: underline;
    text-shadow: 3px 3px 3px #000;
}

#contact h2 {
    margin: 33px;
    position: relative;
    left: 130px;
    text-shadow: 3px 3px 3px #000;
}

                            /********** General Stuff **********/


/* version 2 color #F87531 */


.hiddenPage {
    display: none;
}







    










